<!DOCTYPE html>
<html lang="fr">
    <head>
        <title> blog de Jean Forteroche - espace administrateur </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/adm_base.css">
        {% block stylesheet %} {% endblock %}
    </head>
    <body>
        {% if adminAction %}
            {% block confMsg %} {% endblock %}
        {% endif %}
        <header id="header">
            <h1 id="title"> blog de Jean Forteroche, espace administrateur </h1>
        </header>
        <nav id="nav_section">
            <ul id="nav_ul">
                <li id="chap_add"> <button> Ajouter un chapitre </button> </li>
                <li id="chap_modif"> <button> Gérer la liste de mes chapitres </button> </li>
                <li id="com_modif"> <button> Gérer la liste de mes commentaires </button> </li>
                <li id="com_modif"> 
                </li>
                <li id="vis_back_li">
                    <form action="/" method="POST" id="vis_back_form">
                        <input type="hidden" name="dd">
                        <input type="submit" id="vis_link" value="Revenir à l'espace visiteur" />
                    </form>
                </li>
            <uL>
        </nav>
        {% block content %} {% endblock %}
        {% block comModif %} {% endblock %}
        <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=wmpba1qv3ow0lxpqb3udwiw8kxn9h8lqarl3tyx33nzo16xb"></script> 
        <script>
          tinymce.init({
            selector: '#chap_edit',
            entity_encoding: 'named',
            height: 600,
            language: 'fr_FR',
            language_url: '/js/tinymceLang_fr.js',
            body_id: 'chap_edit',
          });
        </script>
        <script src="/js/utils.js"></script>
        <script src="/js/adm_blog_man.js"></script>
        {% if adminAction %}
            {% block script %} {% endblock %}
        {% endif %}
    </body>
</html>