<div id="con_div">
    <p id="con_info_p"> Vous êtes connecté en tant qu'administrateur </p>
    <div id="con_opt_div">
        <a href="/admin"> Revenir à l'espace administrateur </a>
        <a href="/{# ?deconnect #}"> Déconnexion </a>
    </div>
</div>