<!DOCTYPE html>
<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
        <meta charset="utf-8" />
        {% block styleSheet %}{% endblock %}

    </head>
    <body>
        {% block staticContent %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
