{% extends 'template/htmlBase.html.twig' %}

{% block title %} Le blog de Jean Forteroche {% endblock %}

{% block styleSheet %}
        <link rel="stylesheet" href="/css/visitorStyle.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
{% endblock %}

{% block script %}
    <script src="/js/visitorJs.js"></script>  
{% endblock %}

{% block staticContent %}
    <header id="header_banner">
        <div id="header_banner_image">
        </div>
        <div id="header_banner_title">
            <h1 > Billet simple pour l'Alaska </h1>
        </div>
        <div id="header_banner_author">
            <em id="author"> Par Jean Forteroche </em>
        </div>
    </header>
    <div id="reading_intro">
        <hr/>
        <h2> Lecture </h2>
    </div>
    {% block dynamicContent %} {% endblock %}
    <footer id="footer_banner">
        <div id="footer_contact">
            <h3> Me contacter : </h3>
            <p id="contact_mail"><a href=""> Nom@exemple.org </a></p>
            <a id="admin_access" href="/admin"> </a>
        </div>
    </footer>
{% endblock %}