   /* All page */

body, html
{
    width: 100%;
    font-family: arial;
    margin: 0;
}

body
{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to top, transparent, #ccc);
    overflow-y: scroll; 
}

a, button, input[type=submit]
{
    cursor: pointer;
}

a
{
    text-decoration: none;
}

button
{
    font-family: arial;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.close_p
{
    text-align: right;
}

.close_btn
{
    display: inline;
    font-size: 1.3em;
    width: 50px;
    height: 30px;
}

.admin_div
{
    padding: 20px;
}

.admin_table
{
    margin: auto;
    text-align: center;
    min-width: 100%;
}

.hide
{
    display: none;
}


    /* Header + Nav */


#header
{
    text-align: center;
    background-color: #fff2b2;
}

#title
{
    margin: 0;
    padding: 20px;
}

#nav_section
{
    margin-top: 0;
    background-color: #b2aeae;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#nav_ul
{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nav_ul > li
{
    margin-right: 10px;
}

