    /* Espace Admin */

html
{
  font-family: cursive;
}

#admin_body
{
    background-color: #f9e57c;
}

#admin_welcome
{
  text-align: center;   
}

#onglets_admin
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.button_admin
{
    font-size: 1.1em;
    cursor: pointer;
    font-family: cursive;
    background-color: #bc9a4f;
    padding: 5px;
    border-radius: 10px;
}

.button_admin.set_css
{
    z-index: 10;
    background-color: #f5f7a0;
    padding-bottom: 30px;
    border-bottom: 0;
}

.button_admin:disabled
{
    cursor: auto;
}

.admin_div
{
    background-color: #f5f7a0;
    transform: translatey(-5px);
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    border: outset white;
    padding: 10px;
    
}

.close_cross
{
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 1.3em;
    cursor: pointer;
    float: right;
    width: 50px;
    height: 30px;
}

.table_admin
{
}

.hide
{
    display: none;
}

#add_chapter_form
{    
}

#chap_nb_div
{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 40px 0 40px 0; 
}

.form_label
{
    cursor: pointer;
}

.form_label input
{
    font-family: cursive;
    text-align: center;
    border: 1px solid #e7ea96;
}

#nb_input
{
    width: 30px;
    margin-right: 50px;
}

#title_input
{
    width: 30vw;
    height: 30px;
}

#content_label
{
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

#chapter_editor
{
    height: 800px;
}

#send_btn
{
    display: block;
    margin: 20px auto 20px auto;
    font-size: 1.1em;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
}

#send_btn:hover
{
    background-color: #e89747;
    box-shadow: 0 0 10px 10px #e89747;
}

#chapters_table
{
}

#comments_table
{
}

table
{
    text-align: center;
}

tr, td
{
  border: 1px solid black;
    
}

th
{
    font-size: 1.1em;
}

td
{
    padding: 5px;
    background-color: white;
}


td.action
{
  background-color: #f5f7a0;
    border: 0;
}

td.action a
{
    color: black;
    text-decoration: none;
    font-family: cursive;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

td.action a:hover
{
    color: gray;
    box-shadow: 0 0 5px 5px #c1b189;
}

td.modif a
{
  background-color: #aef995;
}

td.supp a
{
 background-color: #ff9b9b;
}