@media all and (max-width: 768px) 
{
    #art_container
    {
        flex-direction: column;
        align-items: center;
    }
      
    #self_pres
    {
        width: 90%;
    }
      
    #rom_pres
    {
        width: 90%;    
    }
}
